body {

  font-family: 'Karla', sans-serif;
  color: #9fa1ae;
}

label {

  color: #ce3a2c;
}

input {

  font-family: 'Karla', sans-serif;
  width: 200px;
  display: inline-block;
} 



#login_form {

    border-radius: 25px;
    border: 2px solid navy;
    padding: 20px; 
    width: 240px;
    height: auto; 
    margin-left: auto;
    margin-right: auto
}

#signup_form {

    border-radius: 25px;
    border: 2px solid navy;
    padding: 20px; 
    width: 240px;
    height: auto;
    margin-left: auto;
    margin-right: auto; 
}